@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Nesting support added. I current throws errors in VSCode
  You can temporarily disable CSS validation to hide errors if you want by adding this to your settings.json:
  "css.validate": false,"
  **************************************************************
  Tailwind's Nesting docs: https://tailwindcss.com/docs/using-with-preprocessors#nesting
  More to come on the VS Code issue: https://github.com/microsoft/vscode/issues/147824
  **************************************************************
  Example:
  .test-class {
    @apply bg-red-500;
    & p {
      @apply bg-blue-500;
    }
  }
*/

@layer base {
  body {
    @apply bg-slate-main text-white-main;
  }
  .sidebarActive {
    @apply ml-[324px] transition-all duration-300;
  }
  .sidebarSmall {
    @apply ml-[80px] transition-all duration-300;
  }
}

.contentContainerWithSidebar {
  @apply rounded-lg bg-slate-light flex flex-col xl:flex-row justify-around gap-8 max-w-7xl;
}
.contentContainerWithoutSidebar {
  @apply rounded-lg bg-slate-light flex flex-col lg:flex-row justify-around gap-8 max-w-7xl;
}

.contentContainerWithSidebarNoBG {
  @apply rounded-lg flex flex-col xl:flex-row justify-around gap-8 max-w-7xl;
}
.contentContainerWithoutSidebarNoBG {
  @apply rounded-lg flex flex-col lg:flex-row justify-around gap-8 max-w-7xl;
}

.contentContainerColumnWithSidebar {
  @apply flex flex-col mx-4 my-4 xl:my-16;
}
.contentContainerColumnWithoutSidebar {
  @apply flex flex-col mx-4 my-4 lg:my-16;
}

.gameBGImage {
  @apply bg-game-bg-temp bg-cover bg-no-repeat bg-fixed;
}
.gameBGImageNoFade {
  @apply bg-game-bg-temp-no-fade bg-cover bg-no-repeat bg-fixed;
}

.tableGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.addressGrid {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 350px; /* Fixed height for the row */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dynamic columns */
  gap: 10px; /* Adjust the gap between columns */

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem; */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 10;
}

.purpleTopToBottomGradient {
  background: linear-gradient(180deg, #be68ec 0%, #be68ec00 100%);
}

.whiteToGreenGradient {
  background: linear-gradient(to left, #f5f5f5 0%, #c8e1ba 100%);
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 83.2px;
}
h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 72.8px;
}
h3 {
  font-size: 56px;
  font-weight: 300;
  line-height: 72.8px;
}
h4 {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
}
.title32 {
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
}
.title28 {
  font-size: 28px;
  font-weight: 300;
  line-height: 36.4px;
}
.title24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 31.2px;
}
.title20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.body20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.body18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}
.body16Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}
.body16Regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

/* after 3 initial seconds, the toggle sidebar button will shake a couple times (which will take up 2.5 seconds), 
then will rest for 7.5 seconds, then repeat  */
.shake {
  animation: shake 10s ease-in-out infinite;
  animation-delay: 3s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5%,
  15% {
    transform: translateX(-3px);
  }
  10%,
  20% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(0);
  }
}

/* arrow code by https://codepen.io/chappie */
.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /*   border:solid 1px white; */
  transition: 0.5s;
  overflow: hidden;
}

.arrow {
  /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
  border: solid 2px white;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  display: block;
  content: '';
  color: white;
  width: 20px;
  height: 15px;
  /*   border:solid 1px;  */
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}

.arrow:before {
  position: absolute;
  display: block;
  content: '';
  color: white;
  width: 8px;
  height: 8px;
  /*   border:solid 1px;  */
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}
.arrow:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

@keyframes borderAni {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
