@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Nesting support added. I current throws errors in VSCode
  You can temporarily disable CSS validation to hide errors if you want by adding this to your settings.json:
  "css.validate": false,"
  **************************************************************
  Tailwind's Nesting docs: https://tailwindcss.com/docs/using-with-preprocessors#nesting
  More to come on the VS Code issue: https://github.com/microsoft/vscode/issues/147824
  **************************************************************
  Example:
  .test-class {
    @apply bg-red-500;
    & p {
      @apply bg-blue-500;
    }
  }
*/

@layer base {
  body {
    @apply bg-slate-main text-white-main;
  }
  .sidebarActive {
    @apply ml-[324px] transition-all duration-300;
  }
}

h1 {
  font-size: 64px;
  font-weight: 500;
}
h2 {
  font-size: 56px;
  font-weight: 500;
}
h3 {
  font-size: 56px;
  font-weight: 300;
}
h4 {
  font-size: 48px;
  font-weight: 500;
}
.title24 {
  font-size: 24px;
  font-weight: 300;
}
.title20 {
  font-size: 20px;
  font-weight: 400;
}
.body20 {
  font-size: 20px;
  font-weight: 500;
}
.body18 {
  font-size: 18px;
  font-weight: 400;
}
.body16Medium {
  font-size: 16px;
  font-weight: 500;
}
.body16Regular {
  font-size: 16px;
  font-weight: 400;
}
